<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/nav.ejs') %>

    <main>
        <!-- FLASH MESSAGE -->
        <% if(error) { %> 
            <div class="message message--error">
                <%= error %>
            </div>
        <% } else if(errorLogin) { %>
            <div class="message message--error">
                <%= errorLogin %>
            </div>
        <% } else if(successSignup) { %>
            <div class="message message--success">
                <%= successSignup %>
            </div>
        <% } else if (updatePassword) { %>
            <div class="message message--success">
                <%= updatePassword %>
            </div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <!--  LOAD OLD DATA WHEN VALIDATE FAILED -->
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%=oldInput.email%>"
                    class="<%=errorType === 'email' ? 'invalid' : ''%>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%=oldInput.password%>"
                    class="<%=errorType === 'password' ? 'invalid' : ''%>">
            </div>
            <!-- TOKEN CSRF -->
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button class="btn" type="submit">Login</button>
        </form>
        <a href="/reset" class="center" style="color: #00695c;">Forgot password?</a>
    </main>
<%- include('../includes/end.ejs') %>