<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/nav.ejs') %>

    <main>
        <!-- FLASH MESSAGE -->
        <% if (requestSuccess) { %>
            <div class="message message--success">
                <%= requestSuccess %>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <h2>An email has sent, please check inbox to reset password</h2>
            </div>
        <% } else { %>
            <% if(error) { %> 
                <div class="message message--error">
                    <%=error%>
                </div>
            <% } %>
            <form class="login-form" action="/reset" method="POST">
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input type="email" name="email" id="email" value="<%=oldInput%>"
                        class="<%=errorType === 'email' ? 'invalid' : ''%>">
                </div>
                <!-- TOKEN CSRF -->
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <button class="btn" type="submit">Reset</button>
            </form>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>