<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (items.length > 0) { %>
            <div class="grid">
                <% items.forEach((item) => { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= item.name %></h1>
                    </header>
                    <div class="card__image">
                        <img src="/<%=item.url%>" alt="Product">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$<%= item.price %></h2>
                        <p class="product__description"><%= item.description %></p>
                    </div>
                    <div class="card__actions" style="display: flex; justify-content: center; align-items: center;">
                        <a href="/admin/edit-product/<%= item._id %>/?edit=true" class="btn">Edit</a>
                        <!-- TOKEN CSRF -->
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <input type="hidden" name="id" id="id" value="<%=item._id%>">
                        <button type="button" class="btn danger" onclick="deleteProduct(this)">Delete</button>
                        <!-- onclick="deleteProduct(this)" là sự kiện click vào button sẽ gọi hàm deleteProduct(this), this là tham số truyền vào hàm deleteProduct (btn) --> 
                    </div>
                </article>
                <% }) %>
            </div>
            <%- include('../includes/pagination.ejs') %>
        <% } else { %>
            <div class="empty">
                <h1>The item is empty</h1>
            </div>
        <% } %>
    </main>
    <script src="/js/adminController.js"></script>
<%- include('../includes/end.ejs') %>