<%- include("../includes/head.ejs")%>
    <link rel="stylesheet" href="/css/Chat.css">
</head>
<body>
    <%- include("../includes/nav.ejs")%>
    <div data-aos="fade" data-aos-delay="400" class="container-fluid border border-3 border-dark-subtle bg-dark-subtle">
        <div class="row">
            <div id="room-chat" class="col-lg-4 col-xl-4 border border-end-6 border-light-subtle d-none d-sm-none d-md-none d-lg-block d-xl-block">
                <div class="row mb-1">
                    <div class="col d-flex align-items-lg-center align-items-xl-center justify-content-center border-start border-muted border border-warning-subtle border-2" style="background: rgba(52,58,64,0.2);height: 4rem;">
                        <h5 class="mr-auto my-auto">Welcome to SHOP CHAT</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="overflow-x: none;overflow-y: auto;max-height: 32.5rem;height: auto;">
                        <ul class="list-unstyled">
                            <% if (rooms.length > 0) { %>
                                <% rooms.forEach(room => { %>
                                    <li class="room-list" id="room-list-<%=room._id.toString()%>" style="cursor:pointer;">
                                        <input type="hidden" value="<%=room._id%>">
                                        <div class="card border-0 mb-1">
                                            <div class="card-body bg-light-subtle border border-1 rounded-2 border-dark-subtle">
                                                <!-- <span class="text-nowrap text-truncate text-uppercase text-white float-end p-1 text-center" style="width: 2rem;height: 2rem;border-radius: 15px;background: #00db5f;"><%=room.countUnRead%></span> -->
                                                <h4 class="text-nowrap text-truncate card-title</h4>"><%=room.participants[0]._id.toString() === userId.toString() ? room.participants[1].username : room.participants[0].username%></h4>
                                                <h6 class="text-nowrap text-truncate  card-subtitle mb-2 <%= room.marked ? "text-muted" : "fw-bold text-dark-emphasis" %>" style="font-size: .7rem;"><%=room.messages[room.messages.length - 1].createdAt.toLocaleString('en-US', {timeZone: 'Asia/Ho_Chi_Minh'})%></h6>
                                                <h6 class="text-nowrap text-truncate text-muted card-subtitle mb-2 <%= room.marked ? "text-muted" : "fw-bold text-dark-emphasis" %>"><%=room.messages[room.messages.length - 1].message%></h6>
                                            </div>
                                        </div>
                                    </li>
                                <% }) %>
                            <% } else { %>
                                <li>
                                    <div class="card border-0 mb-1 d-flex align-items-center justify-content-center">
                                        <div class="card-body bg-light-subtle border border-1 rounded-2 border-dark-subtle">
                                            <h4 class="text-nowrap text-truncate card-title">No room</h4>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <% if (rooms.length > 0) { %>
                <div id="message-chat" class="col d-block d-sm-block d-md-block d-lg-block d-xl-block">
                    <div class="row mb-1" id="userinfo">
                        <div class="col d-flex justify-content-center align-items-lg-center align-items-xl-center border-start border-muted border border-warning-subtle border-2" style="background: rgba(52,58,64,0.2);height: 4rem;"><button class="btn d-block d-sm-block d-md-block d-lg-none d-xl-none border-0 my-auto" type="button" style="width: 2.5rem;height: 2.5rem;"><i class="far fa-arrow-alt-circle-left"></i></button>
                            <h5 class="mr-auto my-auto"><%=room.participants[0]._id.toString() === userId.toString() ? room.participants[1].username : room.participants[0].username%></h5><span class="my-auto"><i class="fa fa-user mx-2"></i></span>
                        </div>
                    </div>
                    <div class="row px-3 py-2 border-start border-muted" id="content">
                        <div class="col" id="scroll-bar" style="overflow-x: none;overflow-y: auto;max-height: 40.5rem;height: auto;">
                            <ul class="list-unstyled" id="messages">
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <input type="hidden" name="roomId" value="<%=room._id%>">
                                <input type="hidden" name="receiver" value="<%=userId.toString() === room.participants[0]._id.toString() ? room.participants[1]._id : room.participants[0]._id%>">
                                <input type="hidden" name="jwttoken" value="<%=token%>">
                                <% room.messages.forEach(m => { %>
                                    <% if(userId.toString() === m.sender.toString()) { %>
                                        <li class="d-flex justify-content-end my-2">
                                            <div class="card border border-muted bg-light-subtle" style="width: 81%;border-top-left-radius: 20px;border-top-right-radius: 0px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
                                                <div class="card-body text-center p-2">
                                                    <% if (m.url) { %>
                                                    <img class="img-fluid mb-2" src="/<%=m.url%>" style="max-height: 30rem;height: auto;min-height: 10rem;">
                                                    <% } %>
                                                    <p class="text-start card-text" style="font-size: 1rem;"><%= m.message %></p>
                                                    <h6 class="text-muted card-subtitle text-end" style="font-size: .75rem;"><%= m.sender.toString() === room.participants[0]._id.toString() ? room.participants[0].username : room.participants[1].username %> <%= m.createdAt.toLocaleString('en-US', {timeZone: 'Asia/Ho_Chi_Minh'}) %></h6>
                                                </div>
                                            </div>
                                        </li>
                                    <% } else { %>
                                        <li class="my-2">
                                            <div class="card border border-muted bg-light-subtle" style="width: 81%;border-top-left-radius: 0px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
                                                <div class="card-body text-center p-2">
                                                    <% if (m.url) { %>
                                                        <img class="img-fluid mb-2" src="/<%=m.url%>" style="max-height: 30rem;height: auto;min-height: 10rem;">
                                                    <% } %>
                                                    <p class="text-start card-text" style="font-size: 1rem;"><%= m.message %></p>
                                                    <h6 class="text-muted card-subtitle text-end" style="font-size: .75rem;"><%= m.sender.toString() === room.participants[0]._id.toString() ? room.participants[0].username : room.participants[1].username %> <%= m.createdAt.toLocaleString('en-US', {timeZone: 'Asia/Ho_Chi_Minh'}) %></h6>
                                                </div>
                                            </div>
                                        </li>
                                    <% } %>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    <div class="row px-3 py-2" id="inputsend">
                        <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                            <input class="w-100 h-100 border border-3 rounded-3 px-3" name="message" style="resize: none;" type="text" placeholder="Type the message..." />
                        </div>
                        <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-nowrap d-md-flex justify-content-md-end p-0">
                            <button id="send" class="btn btn-outline-primary border border-3 border-dark-subtle rounded-3 w-auto" type="submit">
                                <i class="fa-brands fa-telegram fs-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="col d-none d-sm-none d-md-none d-lg-block d-xl-block">
                    <div class="row mb-1" id="userinfo">
                        <div class="col d-flex justify-content-center align-items-lg-center align-items-xl-center border-start border-muted border border-warning-subtle border-2" style="background: rgba(52,58,64,0.2);height: 4rem;"><button class="btn d-block d-sm-block d-md-block d-lg-none d-xl-none border-0 my-auto" type="button" style="width: 2.5rem;height: 2.5rem;"><i class="far fa-arrow-alt-circle-left"></i></button>
                            <h5 class="mr-auto my-auto">NO MESSAGES</h5><span class="my-auto"><i class="fa fa-user mx-2"></i></span>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/toolkit.min.js"></script>
<script src="/js/aos.min.js"></script>
<script src="/js/bs-init.js"></script>
<script src="/js/bold-and-bright.js"></script>
<!-- SET HEIGHT -->
<script src="/js/setHeightChat.js"></script>
<!-- SOCKET CLIENT -->
<!-- // Thêm type="module" để sử dụng import, export -->
<script src="/js/socketMessageChat.js" type="module"></script> 
<!-- SELECT ROOM -->
<script src="/js/selectRoomChat.js"></script>
<!-- SEND MESSAGE -->
<script src="/js/sendMessage.js"></script>
</body>
</html>
