<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <!-- FLASH MESSAGE -->
        <% if(successLogin) { %>
            <div class="message message--success">
                <%= successLogin %>
            </div>
        <% } %>
        <% if (items.length > 0) { %>
            <div class="grid">
                <% items.forEach((item) => { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= item.name %></h1>
                    </header>
                    <div class="card__image">
                        <img src="/<%=item.url%>" alt="A Book">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$<%= item.price %></h2>
                        <p class="product__description"><%= item.description %></p>
                    </div>
                    <div class="card__actions">
                        <!-- POST CART  -->
                        <% if(authenticate) { %>
                            <%- include('../includes/addCart.ejs', {item: item}) %>
                            <!-- Thêm object {item: item} để thẻ chỉ xác định duy nhất 1 item trong vòng lặp có nhiều items -->
                        <% } %> 
                    </div>
                </article>
                <% }) %>
            </div>
            <%- include('../includes/pagination.ejs') %>
        <% } else { %>
            <div class="empty">
                <h1>The item is empty</h1>
            </div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>