<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <section data-aos="fade" data-aos-delay="400" class="bg-dark-subtle shadow-sm pb-4">
        <% if(outOfStock) { %>
            <div class="d-flex align-items-center py-2">
                <div data-aos="fade-down" class="d-inline-block p-2 text-center mx-auto fw-bold text-danger border rounded border-danger bg-danger-subtle">
                    <%= outOfStock %>
                </div>
            </div>
        <% } %>
        <div class="d-flex align-items-center justify-content-end pt-2 bg-dark-subtle">
            <form action="/find-product" method="get" class="d-flex align-items-center">
                <input type="text" name="name" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-primary mx-2"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="container py-2">
            <% if (!items.length > 0) { %>
                <div data-aos="fade-down" data-aos-delay="400" class="row mb-4 mb-lg-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 class="fw-bold">Products</h2>
                        <p class="text-muted">No matter the project, our team can handle it.&nbsp;</p>
                    </div>
                </div>
            <% } else { %>
                <div class="d-flex flex-wrap justify-content-around align-items-stretch">
                    <% items.forEach((item) => { %>
                        <article class="bg-light-subtle card-dan d-flex flex-column align-items-center justify-content-around text-center my-4 p-1 mx-1 border rounded-3 shadow-lg">
                            <header class="d-flex flex-column align-items-center justify-content-center p-3">
                                <h2 class="ref-name fs-2"><%= item.name %></h2>
                            </header>
                            <div class="card__image-dan">
                                <img src="/<%=item.url%>" loading="lazy" alt="A Product">
                            </div>
                            <div class="d-flex flex-column align-items-center justify-content-center p-3">
                                <h1 class="ref-original-price fs-4">$<%= item.price %></h1>
                                <div class="d-flex flex-row">
                                    <h2 class="ref-product-quantity fs-6 mx-4"><b>Sold: </b><%= item.soldQuantity %></h2>
                                    <h2 class="ref-product-quantity fs-6 mx-4"><b>Store: </b><%= item.quantity %></h2>
                                </div>
                                <!-- <p class="ref-description"><%= item.description %></p> -->
                            </div>
                            <div class="card__actions-dan">
                                <!-- TOKEN CSRF -->
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <!-- ADD ID FOR PRODUCT -->
                                <a href="/product/<%= item._id %>" class="btn btn-primary">Detail</a>
                                <!-- href = product/0.7834371053383911 -->
                                <!-- POST CART  -->
                                <% if (item.quantity > 0) { %>
                                    <%- include('../includes/addCart.ejs', {item: item}) %>
                                <% } else { %>
                                    <button class="btn btn-danger" disabled>Sold Out</button>
                                <% } %>
                                <!-- Thêm object {item: item} để thẻ chỉ xác định duy nhất 1 item trong vòng lặp có nhiều items -->
                            </div>
                        </article>
                    <% }) %>
                </div>
                <%- include('../includes/pagination.ejs') %>
            <% } %>
        </div>
    </section>

<%- include('../includes/end.ejs') %>